.header {
  // para cuando se haga scroll el header siempre sea visible
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 22, 39);
  //   para que siempre este por encima
  z-index: 1;

  img {
    // ancho
    width: 70px;
    margin-right: 70px;
  }

  h1 {
    color: white;
  }
}
